<h1>About Us</h1>
<div class='container-fluid'>
  <div class='row'>
    <p>The latest studies suggest that dogs can actually see a limited range of colors, rather than just black and white. (Likewise, they may be better with shapes, motion, and low-light and night vision.) So we emphasize these colors so that your dog can enjoy our blog alongside you. As much as dogs can enjoy blogs, anyway. We're not really sure what fonts are best for dogs. <!--To change the color theme settings if you have a different preferred range on the visual spectrum, or to change the sight back to full-colors for an optimal human experience, click <a href='#'>here</a>. -->
    To learn more, visit the <a href='https://www.akc.org/expert-advice/lifestyle/did-you-know/are-dogs-color-blind/'>American Kennel Club</a>
  </div>
  <div class='row'>
    <!-- <div class='col mx-auto'> -->
      <img class='mx-auto' src='images/dog-vision-spectrum.png' alt='Dog Vision Spectrum'><br>
  </div>
  <p class='margin-left-stubborn'>Source: <a href='https://www.akc.org/expert-advice/lifestyle/did-you-know/are-dogs-color-blind/'>American Kennel Club</a></p>
  <!-- </div> -->
</div><!-- container-->
<!--
<h3>Dog Facts</h3>
<p>While we're at it, here are some dog facts for you:
 - chocolate is bad
 - so are onions, apparently
 - dog ages scale differently based on size
</p> -->
