
<style>
  body { background-image: url("images/nose-side.jpeg"); }
  p { background-color: black; width: 50%; }
</style>

<p>We couldn't sniff out that page. Try going home and starting over.<br>
<a href='#index.erb'><b>Lassie come home!</b></a>
</p>
