<!DOCTYPE html>
<html>
<head>
    <title>Users</title>
</head>
<body>
  <h1>Welcome to Woofers!</h1>
  <div class='container-fluid'>
    <div class='row'>
      <img class='mx-auto main-pic' src='images/nose-lab.jpeg'>
    </div>
  </div>
</body>
</html>
