<h1>Sponsors</h1>
<div class='container-fluid'>
  <div class='row'>
    <div class='col-4'>
      <img src='images/freedom-info-bork.jpeg' alt='Freedom of Information bork'>
    </div>
    <div class='col-6'>
    <p>At Woofers, we love honesty as much as we love dogs. (Just kidding: not possible.) Nonetheless, while we encourage high-quality posts whether or or not they organically endorse specific brands and products with glowing reviews based on personal experience, we believe it's important to disclose what posts are sponsored. </p>
    <p>The Woofers blog is a microcosm in a larger free and open society, so rather than spiral our users into endless loops of hidden ads and sneaky ways of keeping you on our site indefinitely (like SOME other social media sites do...) we let you know what's an advertisement, we keep the logout button right there in the navigation bar, and we automatically log you out after an hour unless that you confirm yes, your dog is right there with you, you haven't forgone your actual dog for a (albeit a great one) blog about dogs. (Talk about the allegory of the cave, amirite?)</p>
    <h4>Sponsors</h4>
    <p>To learn more about our sponsorship program or to become one, click <a href='#'>here</a>.</p>
    </div>
    <div class='col-2'>
      <img class='main-pic' src='images/bob-barker.png' alt='Bob Barker says, "Spay or neuter your pets!"'/>
    </div>
  </div> <!--row -->
</div> <!-- container -->
