<h1>Woof</h1>
<p>Woof woof bark woof bark. Woof. Bark bark bark arooooo bork bork grr. Arr-ooooo! Hrrrrmm bark bark grr woof woof.RUFF! Ruf. Rororororororo! ARORORORORORORO! Bark, bark-bark-bark, bark, woof, roof. Ruf. Woof. Errrrn, errrnnn, WOOF! BARK BARK BARK! Woof.</p>
<div class='container-fluid'>
  <div class='row'>
    <img class='mx-auto' src='images/jack-russell.jpg' alt='bark bark woof'/>
  </div>

  <p class='margin-left-stubborn'>"Bark bark woof" - Jack Russell, our founder</p>
</div>
<!-- at this point it almost makes more sense to ditch flexbox and use grid -->
<!--bau bau -->
